
html,body { 
    background: url(taberna-medieval.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.btn{
    font-family: fantasy;
    font-size: 2rem;
    color: white !important;
    border-radius: 2rem !important;
    background: none !important;
    transition: all 1s !important   ;
}

.btn:hover{
    transform: scale(1.2);
    background-color: black !important;
}



.MenuPrincipal{
    background-color: rgb(158, 102, 18, 0.5);
}


.buffer{
    width: 53rem;
}

.bufferList{
    width: 1rem;
}

.icon{
    transition: all 1s;
}

.icon:hover{
    transform: scale(1.5);
}

.separador{
    border: 0;
    height: 0;
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(19, 6, 6, 0.2);
}

.LorienLogo{
    transition: all 1s;
}


.LorienLogo:hover{
    transform: scale(1.1);
}